<link rel="stylesheet" href="/css/create.css">

<div class="create-link-card">
  <h1><%= message %></h1>

  <form action="/relink" method="POST">
    <label for="source_link">Source link</label>
    <input type="text" name="source_link" width="400" value="<%= @link['link'] if defined?(@link) %>"/>

    <% if @link %>
    <input type="hidden" name="link_id" value="<%= link['_id'] %>" />
    <% end %>

    <!--
    <input name="autogen" type="checkbox" value="Auto"/>
    <label for="autogen">Autogenerate link</label>
    <br/> <br/>
    -->

    <label for="friendly_name">Friendly name</label>
    <input type="text" name="friendly_name" width="400" value="<%= @link['name'] if @link %>"/>

    <input type="submit" />
  </form>
</div>
