<html>
<head>
	<title>Linker</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/jquery/jquery-ui.min.css">
	<script src="/js/jquery-1.8.3.js"></script>
	<script src="/js/jquery-ui-1.9.2.custom.js"></script>
</head>
<body>
<%= yield %>
</body>
</html>
